@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'salsa', 'cursive';
}

@keyframes popupAnimation {
    0% {
        transform: translate(-50%, 100%) scale(0.5);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

body{
    background-color: #093a2f;
    /* height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; */
}

.outer-container{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 30vw 40vw 30vw;
    justify-content: center;
    align-items: center;
}

.container{
    /* position: fixed; */
    background-color: #0d614e;
    width: 40vw;
    height: 90vh;
    /* margin-top: 50px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

.container-right{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tracker-div{
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* width: 20vw; */
    padding: 10px;
    /* background-color: #229b7f; */
    border-radius: 5px;
    /* margin-left: 10vw; */
}

.tracker-para{
    color: #fff;
    display: inline-block;
    /* background-color: red; */
    font-size: 1.5vw;
    margin: 0;
    font-family: 'Salsa', cursive;
    /* width: 100%; */
}

h1, h2{
    color: #fff;
    font-size: 3vw;
    margin: 0;
    font-family: 'Salsa', cursive;
}

h2{
    font-size: 2vw;   
}

.grid{
    display: grid;
    grid-template-columns: repeat(4,6vw);
    grid-template-rows: repeat(4,13vh);
    padding: 25px;
    gap: 10px;
}

.card{
    background-color: #229b7f;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
    content: '⬆️';
    transition: 0.5s;
    border-radius: 5px;
    cursor: pointer;
}

.winPopup{
    /* display:flex; */
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
    height: 35%;
    display:none;
    background-color: #093a2f;
    text-align: center;
    border-radius: 10%;
    padding: 1%;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.6);
}

.stats{
    box-sizing: border-box;
    color: white;
    background-color: rgb(27, 79, 67);
    border-radius: 1em;
    margin: 3% 0%;
    /* height: 50%; */
    height: 50%;
    padding: 5%;
    font-size: 1.3vw;
}

.popup-buttons{
    /* display: flex; */
    /* justify-content: space-around; */
    margin-top: 5%;
    /* vertical-align: middle; */
}


button{
    background-color: #fff;
    color: #264c3d;
    border: none;
    outline: none;
    font-weight: 700;
    font-size: 1.2vw;
    padding: 1vw;
    cursor: pointer;
    font-family: 'Salsa', cursive;
    border-radius: 5%;
}

.blur{
    filter: blur(5px);
    transition: "filter 0.2s ease-out";
    pointer-events: none;
    user-select: none;
}

.playAgain{
    margin: 3%;
    font-size: 1vw;
    padding: 0.9vw;
}

.popup-heading{
    display: flex;
    justify-content: center;
}

.close-popup{
    background-color: #093a2f;
    padding: 0px;
}

button:hover{
    background-color: #ffffffd2;
}