@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'salsa', 'cursive';
}

:root{
    --primary-color: #229b7f;
    --secondary-color: #0d614e;
    --bg-color: #093a2f;
    --button-color: #264c3d;
    --columns: 4;
    --rows: 4;
}

@keyframes popupAnimation {
    0% {
        transform: translate(-50%, 100%) scale(0.5);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes zoom {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
  }

body{
    background-color: var(--bg-color);
    /* height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; */
}

.outer-container{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 27.5vw 45vw 27.5vw;
    justify-content: center;
    align-items: center;
}

.container{
    /* position: fixed; */
    background-color: var(--secondary-color);
    width: 40vw;
    height: 90vh;
    /* margin-top: 50px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

.container-right{
    height: 90vh;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* justify-content: center; */
    align-items: center;
}

.container-left{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* justify-content: center; */
    align-items: center;
}

.best-records{
    display: flex;
    flex-direction: column;
    padding: 5% 5%;
    border-radius: 3px;
    /* background-color: #229b7f; */
    background-color: var(--secondary-color);
    margin-top: auto;
    margin-bottom: auto;
}

.best-time-div, .best-moves-div{
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    margin: 3% 0%;
    padding-top: 3%;
    padding-bottom: 3%;
    border-radius: 5px;
    /* justify-content: space-between; */
    /* margin-bottom: 5%; */
}

.tracker-div{
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* width: 20vw; */
    padding: 10px;
    /* background-color: #229b7f; */
    border-radius: 5px;
    /* margin-left: 10vw; */
}

.best-records-h3{
    align-self: center;
}

.tracker-para{
    color: #fff;
    display: inline-block;
    /* background-color: red; */
    width: max-content;
    align-self: center;
    font-size: 1.5vw;
    margin: 0;
    font-family: 'Salsa', cursive;
    /* width: 100%; */
}

.best-time-div p, .best-moves-div p{
    color: #fff;
    font-size: 1.3vw;
    font-style:italic;
    margin: 0;
    font-family: 'Salsa', cursive;
    /* width: 100%; */
}


h1, h2, h3{
    color: #fff;
    font-size: 3vw;
    margin: 0;
    font-family: 'Salsa', cursive;
}

h3{
    font-style: normal;
    font-weight: 100;
    font-size: 1.5vw;   
}

.grid{
    display: grid;
    grid-template-columns: repeat(var(--columns),6vw);
    grid-template-rows: repeat(var(--rows),13vh);
    padding: 25px;
    gap: 10px;
}

.card{
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
    content: '⬆️';
    transition: 0.5s;
    border-radius: 5px;
    cursor: pointer;
}

.flip{
    transform: rotateY(180deg);
}

.winPopup{
    /* display:flex; */
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
    height: 35%;
    display:none;
    background-color: var(--bg-color);
    text-align: center;
    border-radius: 5px;
    padding: 1%;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.6);
}

.stats{
    box-sizing: border-box;
    color: white;
    background-color: var(--secondary-color);
    border-radius: 6px;
    margin: 3% 0%;
    /* height: 50%; */
    height: 50%;
    padding: 5%;
    font-size: 1.3vw;
    /* animation: zoom 1s 3; */
}

.popup-buttons{
    /* display: flex; */
    /* justify-content: space-around; */
    margin-top: 5%;
    /* vertical-align: middle; */
}


button{
    background-color: #fff;
    color: var(--button-color);
    border: none;
    outline: none;
    font-weight: 700;
    font-size: 1.2vw;
    padding: 1vw;
    cursor: pointer;
    font-family: 'Salsa', cursive;
    border-radius: 5%;
}

.blur{
    filter: blur(5px);
    transition: "filter 0.2s ease-out";
    pointer-events: none;
    user-select: none;
}

.playAgain, .next-level-popup{
    margin: 3%;
    font-size: 1vw;
    padding: 0.9vw;
}

.popup-heading{
    display: flex;
    justify-content: center;
}

.popup-heading h2{
    color: #fff;
    font-size: 2vw;
    margin: 0;
    font-family: 'Salsa', cursive;
}

.close-popup{
    position: absolute;
    top: 10px;
    right: 10px;
    /* margin-left: auto; */
    background-color: var(--bg-color);
    padding: 0px;
}

button:hover{
    opacity: 0.8;
}